@model WebsiteTN.ModelViews.ViewOrderVM
@{ 
    var total = Model.orderDetails.Sum(x => x.TotalMoney).Value.ToString("#,##0");
}
<h3>Thông tin đơn hàng: #@Model.order.OrderId</h3>
<br />
<p>Ngày đặt hàng: @Model.order.OrderDate</p>
<p>Trạng thái đơn hàng: @Model.order.TransactStatus.Status</p>
<p>Tổng giá trị đơn hàng: <strong>@total VNĐ</strong></p>
<p>Ngày giao hàng: @Model.order.ShipDate</p>
<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <tbody>
            <tr>
                <th>#</th>
                <th>Sảm phẩm</th>
                <th>Số lượng</th>
                <th>Đơn giá</th>
                <th>Thành tiền</th>
            </tr>
            @foreach (var item in Model.orderDetails)
            {
                <tr>
                    <td>@item.ProductId</td>
                    <td>@item.Product.ProductName</td>
                    <td>@item.Quantity</td>
                    <td>@item.Product.Price</td>
                    <td>@item.TotalMoney.Value.ToString("#,##0")</td>
                </tr>
            }
        </tbody>
    </table>
</div>